---
---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import ExpandableCard from "@/components/ExpandableCard.jsx";
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Lista de proyectos</h1>

    <div class="space-y-8">
      {
        publications.map((paper) => (
        <ExpandableCard
        client:load
  title={paper.title}
  journal={paper.journal}
  time={paper.time}
  abstract={paper.abstract}
  extraButton={
    paper.title === "CineAtmos" ? (
      <a
        href={paper.link}
        class="btn btn-sm btn-success text-white"
        download
      >
        Descargar APK
      </a>
    ) : null
  }
/>

        ))
      }
    </div>

    <div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">1</button>
        <button class="join-item btn btn-sm btn-active">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div>
  </div>
</Layout>
