---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";
import ExpandableCard from "@/components/ExpandableCard.jsx";

const ALL_PAPERS = publications; // This will be replaced with dynamic data later
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Proyectos</h1>

    <div class="space-y-8">
      {
        publications.map((paper) => (
          <ExpandableCard
            title={paper.title}
            journal={paper.journal}
            time={paper.time}
            abstract={paper.abstract}
            link={paper.link}  // Se pasa el link para el botón de descarga
            // images={paper.images}
            client:load
          />
        ))
      }
    </div>
  </div>
  </div>
</Layout>