---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";
import ExpandableCard from "@/components/ExpandableCard.jsx";

const ALL_PAPERS = publications; // This will be replaced with dynamic data later
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Publications</h1>

    <div class="space-y-8">
      {
        publications.map((paper) => (
          <ExpandableCard
            title={paper.title}
            journal={paper.journal}
            time={paper.time}
            abstract={paper.abstract}
            link={paper.link}  // Se pasa el link para el botón de descarga
            client:load
          />
        ))
      }
    </div>

    <div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">1</button>
        <button class="join-item btn btn-sm btn-active">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div>
  </div>
</Layout>